body {
    background-color: white;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, "Times New Roman", Times, serif;
}
#register,
#login,
#reset_pwd {
    width: 600px;
    height: 200px;
    margin: 60px auto 30px;
    padding: 10px;
    position: relative;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 3px 7px rgba(0, 0, 0, 0.3),
        inset 0 1px rgb(255, 255, 255), inset 0 -3px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background: linear-gradient(#eeefef, #ffffff 10%);
}

#logo,
#loginlogo {
    border-radius: 50%;
}
.header {
    position: sticky;
    top: 0;
    min-height: 80px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: orange;
}

/* .linksinheader {
    display: flex;
} */
.mainheading {
    font-weight: 700;
    font-size: 25px;
}
.linksinheader {
    list-style: none;
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    color: yellowgreen;
    padding: 0px 15px;
}

.linksinheader:hover {
    color: blue;
}

#about {
    width: 700px;
    margin: 60px auto 30px;
    padding: 10px;
    position: relative; /* For the submit button positioning */

    /* Styles */
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 3px 7px rgba(0, 0, 0, 0.3),
        inset 0 1px rgb(255, 255, 255), inset 0 -3px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background: linear-gradient(#eeefef, #ffffff 10%);
}
#productlist {
    text-align: center;
    color: rgb(255, 77, 0);
    font-size: 25px;
}

.products {
    margin: 20px auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: orange;
    border-radius: 5px;
}
.card {
    width: 225px;
    height: 300px;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;
    margin: 40px 20px;
    background-color: #fff;
    text-transform: uppercase;
}

.productimg {
    /* width: 50%;  */
    /* max-width: 200px;
    min-height: 150px; */
    height: 113px;
    width: 200px;
    display: block;
    object-fit: cover;
}

.productname {
    text-transform: uppercase;
    margin: 10px 0px;
}

.productprice {
    margin: 10px 0px;
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 30px;
}

.add {
    font-weight: 700;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: black;
    color: #fff;
    width: 100%;
    height: 40px;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    margin: 15px auto;
}

.add:hover {
    background-color: red;
}

.add:active {
    transform: translateY(2px);
}

#aboutclick {
    text-align: center;
}

.headerWelcome {
    text-align: center;
    position: sticky;
    top: 0;
    min-height: 80px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    overflow: hidden;
    background-color: orange;
}

/* #intro {
    text-align: center;
    padding: 10px;
} */

#view1,
#view3 {
    margin: auto;
    width: 50%;
    height: 200px;
    padding: 10px;
}
.footerdiv{
    margin-top: 100px;
}
.footerabout{
    margin-top: 370px;
}
.footerwel{
        margin-top: 320px;

}
.footerWelcome {
    text-align: center;
  position: sticky;
    bottom: 0;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: orange;
    font-family: Arial, Helvetica, sans-serif;
}
/* .footerdiv{
     padding-left: 150px; 

} */
.itemimage {
    width: 100%;
    max-width: 300px;
    min-height: 200px;
    display: block;
    object-fit: cover;
}

.cartitems {
    margin: 30px auto;
    width: 70%;
    background-color: orange;
    border: 2px solid black;
    border-radius: 5px;
}

.emptycart {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
}

.cartitemimage {
    width: 100px;
    height: auto;
    border: 2px solid black;
    margin-right: 10px;
}
.cartlist {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    margin-left: 5%;
}
.cartitemname,
.cartitemfunction {
    width: 25%;
    padding: 5%;
}

.cartadd {
    width: 30px;
    margin-right: 15px;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    color: #eeefef;
    cursor: pointer;
}
.cartremove {
    width: 30px;
    margin-right: 15px;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    color: #eeefef;
    cursor: pointer;
}

.cartadd {
    background-color: green;
}
.cartremove {
    background-color: red;
}

.cartadd:active {
    transform: translateY(1.2px);
}
.cartremove:active {
    transform: translateY(1.2px);
}

.cartitemprice {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 12%;
    padding-right: 20px;
    font-size: 20px;
    font-weight: 700;
    border: 2px solid black;
}

.totalprice {
    display: flex;
    padding-left: 45%;
}

.clearcart {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 10px;
}
.clearbtn {
    border: none;
    border-radius: 5px;
    background: red;
    height: 30px;
    width: 100px;
    font-size: 18px;
    color: #eeefef;
    cursor: pointer;
}

.paycart {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 10px;
}
.paybtn {
    border: none;
    border-radius: 5px;
    background: green;
    height: 30px;
    width: 100px;
    font-size: 18px;
    color: #eeefef;
    cursor: pointer;
    padding-left: 25px;
}

.pay {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.payinfo,
.cartinfo {
    text-align: center;
}

.checkout {
    background-color: orange;
    width: 80%;
    display: flex;
    flex-direction: column;

    align-items: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    margin-left: 10%;
}

.paybtn {
    display: flex;
    justify-self: center;
    align-items: center;
}
